Source: tarantool-http
Priority: optional
Section: database
Maintainer: Roman Tsisyk <roman@tarantool.org>
Build-Depends: debhelper (>= 9), cdbs,
               cmake (>= 2.8),
               tarantool-dev (>= 1.6.8.0)
Standards-Version: 3.9.6
Homepage: https://github.com/tarantool/http
Vcs-Git: git://github.com/tarantool/http.git
Vcs-Browser: https://github.com/tarantool/http

Package: tarantool-http
Architecture: i386 amd64 armhf arm64
Depends: tarantool (>= 1.6.8.0), ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: HTTP client and server for Tarantool
 This package provides a HTTP client and server for Tarantool.
